<h1><%%= <%= CodeGen.dgettext(p, "New " <> Naming.humanize_alias(p.schema)) %> %></h1><%
  action = CodeGen.route_to(p.scope, p.schema, [quote(do: @conn), :create])
%>

<%%= render "form.html", Map.put(assigns, :action, <%= action %>) %>

<%% back_link_content = [content_tag(:i, "", class: "fa fa-arrow-left"), " ", <%= CodeGen.dgettext(p, "Back") %>] %>
<%%# Copy the functionality of the back button exactly %>
<span><button onclick="window.history.back()" class="btn btn-block btn-primary"><%%= back_link_content %></button></span>
